* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color:rgb(255, 255, 255);
    background: url('./assets/background/weatherbackground02.jpg') ;
    background-size:cover;
    background-attachment:fixed;
}
.bottomBox {
  display: flex;
  flex-direction: row;
}

.chart{
  border-radius: 25px;
  position: relative;
  margin-left: auto;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  /* color:black; */
  color:rgb(255, 255, 255);
  /* background-color: rgb(236, 236, 236); */
}

.App:before {
  content: '';

  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}



.App .search {
  text-align: center;
  padding: 1rem;
}

input {
  text-align: center;
}

p {
  /* color: black; */
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
}

h1 {
  /* color: black; */
  color: rgb(254, 254, 254);
}

thead {
  color: rgb(254, 254, 254);
  font-size: 12px;
}

tbody {
  color: rgb(254, 254, 254);
}

.chart {
  background-color: white;
  color: #0000;
}

.bottom{
  display: flex;
  flex-direction: column;
}

.fillHow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
  color:rgb(9, 6, 6)
}